// Mixins 

@mixin respond($breakpoint) {
    @if($breakpoint == all )  {
        @media (max-width: 1200px) { @content }
    }
    @if($breakpoint == large)  {
        @media (max-width: 992px) { @content }
    }
    @if($breakpoint == medium)  {
      @media (max-width: 768px) { @content }
    }
    @if($breakpoint == small)  {
      @media (max-width: 576px) { @content }
    }
}

* {
    box-sizing: border-box;
}

body {
    background: #227fd6;
    font-family: fantasy;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
 
a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.Navbar {
    display: grid;
    grid-template-areas: "logo icons";
    align-items: center;
    padding: 0 60px;
    background: #fff;
    height: 56px;
    position: relative;
    @include respond(small){
        grid-template-areas: "logo bars";
        padding: 0 30px;
    }
    &__logo {
        grid-area: logo;
        a {
            color: #000;
            h1 {
                display: inline-block;
                font-size: 22px;
                margin: 0;
            }
        }
    }
    &__icons {
        grid-area: icons;
        @include respond(small){
            background: #f4f4f4;;
            position: absolute;
            top: 0;
            width: 100%;
            display: grid;
            grid-auto-flow: column;
            z-index: -1;
            margin-top: 56px;
            transition: .3s ease;
            transform: translateY(-56px);
        }
        &.active {
            transform: translateY(0px);
        }
        justify-self: flex-end;
        a {
            i {
                margin-left: 30px;
                @include respond(small){
                    margin: 0;
                    padding: 20px 0;
                }
            }
            @include respond(small){
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    }
    &__bars {
        display: none;
        @include respond(small){
            grid-area: bars;
            display: block;
            justify-self: flex-end;
        }
        i {
            font-size: 17px;
        }
    }
}