// Mixins 

@mixin respond($breakpoint) {
    @if($breakpoint == all )  {
        @media (max-width: 1200px) { @content }
    }
    @if($breakpoint == large)  {
        @media (max-width: 992px) { @content }
    }
    @if($breakpoint == medium)  {
      @media (max-width: 768px) { @content }
    }
    @if($breakpoint == small)  {
      @media (max-width: 576px) { @content }
    }
}

* {
    box-sizing: border-box;
}

body {
    background: #f7f7f7;
    font-family: fantasy;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
 
a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.Navbar {
    display: grid;
    grid-template-areas: "logo icons";
    align-items: center;
    padding: 0 60px;
    background: #fff;
    height: 56px;
    @include respond(small){
        grid-template-areas: "logo bars";
    }
    &__logo {
        grid-area: logo;
        a {
            color: #000;
            h1 {
                display: inline-block;
                font-size: 22px;
                margin: 0;
            }
        }
    }
    &__icons {
        grid-area: icons;
        @include respond(small){
            display: none;
        }
        justify-self: flex-end;
        i {
            margin-left: 15px;
        }
    }
    &__bars {
        display: none;
        @include respond(small){
            grid-area: bars;
            display: block;
            justify-self: flex-end;
        }
        i {
            font-size: 17px;
        }
    }
}